<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ page.title }}</title>
<link href="{{ site.url }}/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="{{ site.url }}/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="{{ site.url }}/css/theme.css" rel="stylesheet">
</head>
<body role="document">
<div class="container" role="main">
  <div class="jumbotron">
    <h1>BDube IT System Status</h1>
  </div>
  <div class="page-header">
    <h1>Notifications</h1>
  </div>
  <div class="page-header">
    <h1>Scheduled Maintenance</h1>
  </div>
</div>
<script src="{{ site.url }}/bower_components/jquery/dist/jquery.min.js"></script>
<script src="{{ site.url }}/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
